extends base

block content
    .container  
        main.main 
            img(src='/img/logo-text.png' alt='GreenThumb logo')
            h1.title Welcome to GreenThumb
            p.subtitle Empowering Urban Gardening and Sustainable Living
            .box 
                button#login_button Login
                button#signup_button Sign Up
      

