@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; /* Ensure the container takes the full height of the viewport */
}
.title {
  margin: 0;
  padding: 0;
}

.subtitle {
  margin: 0;
  padding: 0;
}
.box {
  width: 100%;
  height: 50%;
}
#login_button {
  border: none;
  border-radius: 10px;
  background-color: #4bcb18ef;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  width: 15%;
}
#signup_button {
  border: none;
  border-radius: 10px;
  background-color: #f2f2f2;
  color: #4bcb18ef;
  font-size: 20px;
  cursor: pointer;
  width: 15%;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; /* Ensure the container takes the full height of the viewport */
}
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; /* Ensure the container takes the full height of the viewport */
}
.login_text {
  font-size: 20px;
}
#login_primary {
  border: none;
  border-radius: 10px;
  background-color: #4bcb18ef;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 5px;
}
.form__group {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;

  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
}
.form__label {
  margin: 0 0;
  width: 100%;
  padding-right: 1rem;
}
.form__input {
  /*write css for good textfield */
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 0 auto;
  justify-content: center;
  align-items: left;
}
.form__input:focus {
  outline: none;
}
#signup_primary {
  border: none;
  border-radius: 10px;
  background-color: #4bcb18ef;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 5px;
}
